In [73]:
import pandas as pd

In [74]:
test_1= pd.read_csv('Казань подвыборка_1 проверка.csv', sep=',', index_col=None)
test_2= pd.read_csv('Казань подвыборка_2 проверка.csv', sep=',', index_col=None)
test_3= pd.read_csv('Казань подвыборка_3 проверка.csv', sep=',', index_col=None)
test_4= pd.read_csv('Казань подвыборка_4 проверка.csv', sep=',', index_col=None)
test_5= pd.read_csv('Казань подвыборка_5 проверка.csv', sep=',', index_col=None)
test_1.columns=['id','подвыборка_1']
test_2.columns=['id','подвыборка_2']
test_3.columns=['id','подвыборка_3']
test_4.columns=['id','подвыборка_4']
test_5.columns=['id','подвыборка_5']

In [75]:
test_all=test_1.merge(test_2,how='left',on='id')
test_all=test_all.merge(test_3,how='left',on='id')
test_all=test_all.merge(test_4,how='left',on='id')
test_all=test_all.merge(test_5,how='left',on='id')
test_all

,id,подвыборка_1,подвыборка_2,подвыборка_3,подвыборка_4,подвыборка_5
0,611,3,3,3,3,3
1,6417,2,2,2,2,2
2,3352,3,3,3,3,3
3,4224,1,1,1,1,1
4,3102,6,6,6,6,6
...,...,...,...,...,...,...
2066,1743,5,5,5,5,5
2067,3968,3,3,3,3,3
2068,3809,2,2,2,2,2
2069,5485,6,6,6,6,6
2070,5899,0,0,0,0,0

In [76]:
test_all.loc[(test_all['подвыборка_1']!=test_all['подвыборка_2'])|(test_all['подвыборка_2']!=test_all['подвыборка_3'])|(test_all['подвыборка_3']!=test_all['подвыборка_4'])|(test_all['подвыборка_4']!=test_all['подвыборка_5'])]

,id,подвыборка_1,подвыборка_2,подвыборка_3,подвыборка_4,подвыборка_5
63,4870,0,0,6,0,0
99,6848,6,6,0,6,6
262,4765,2,2,2,6,2
310,1149,4,0,4,4,4
328,5101,2,6,6,6,6
385,3012,2,6,6,2,6
433,3961,4,0,4,0,4
470,6871,0,4,0,0,4
521,6651,6,6,6,0,6
553,5701,6,6,0,6,6
585,5992,0,6,6,6,6
588,5937,4,6,4,6,6
589,1595,6,4,6,4,4
594,4086,4,2,4,2,2
633,5814,6,6,6,6,4
680,2080,0,6,6,0,0
759,1582,0,0,6,0,0
807,2226,6,6,6,6,0
946,3176,2,2,0,2,0
947,2618,0,0,0,0,4
985,5424,0,6,6,6,6
1037,5253,6,0,0,0,0
1063,216,4,4,4,2,4
1107,6602,0,0,0,6,0
1288,2229,6,0,0,0,0
1304,926,6,0,6,0,0
1332,1657,6,6,4,0,4
1358,1511,6,6,6,4,6
1374,3043,6,6,6,6,4
1394,4464,0,4,0,0,0
1406,2183,4,0,4,0,0
1527,2510,4,0,4,4,4
1567,5193,2,0,0,0,0
1776,1033,2,6,6,6,6
1777,1383,0,6,6,0,6
1820,3732,0,0,0,4,0
1837,6856,0,6,6,6,6
1878,5212,5,2,2,2,5
1952,1496,0,6,6,6,0
2027,1260,0,0,6,0,0
2057,2805,4,0,4,0,4
2062,5678,2,2,2,2,4

In [77]:
test_all['crop']=test_all.mode(axis=1)[0].astype(int)

In [78]:
test_all

,id,подвыборка_1,подвыборка_2,подвыборка_3,подвыборка_4,подвыборка_5,crop
0,611,3,3,3,3,3,3
1,6417,2,2,2,2,2,2
2,3352,3,3,3,3,3,3
3,4224,1,1,1,1,1,1
4,3102,6,6,6,6,6,6
...,...,...,...,...,...,...,...
2066,1743,5,5,5,5,5,5
2067,3968,3,3,3,3,3,3
2068,3809,2,2,2,2,2,2
2069,5485,6,6,6,6,6,6
2070,5899,0,0,0,0,0,0

In [79]:
test_all['crop'].value_counts()

5    326
6    313
3    309
2    296
1    288
0    274
4    265
Name: crop, dtype: int64

In [80]:
#test_all.loc[(test_all['подвыборка_1']!=test_all['подвыборка_2'])|(test_all['подвыборка_2']!=test_all['подвыборка_3'])|(test_all['подвыборка_3']!=test_all['подвыборка_4'])|(test_all['подвыборка_4']!=test_all['подвыборка_5']),'crop']=5

In [81]:
test_all=test_all[['id','crop']]

In [82]:
test_all.to_csv('Казань мода проверка.csv', sep=',', index=None)

In [83]:
test_all['crop'].value_counts()

5    326
6    313
3    309
2    296
1    288
0    274
4    265
Name: crop, dtype: int64